.notice_area {
    padding: 15px 20px;
}

.notice_area .title,
.notice_area .item {
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
    font-size: 1.3rem;
}

.notice_area .title {
    margin-right: 10px;
    padding: 7px 8px 5px 8px;
    border-radius: 4px;
    background: #577dc0;
    font-weight: 600;
    color: #fff;
    word-spacing: 1px;
}

.notice_area .item {
    width: calc(100% - 60px);
    padding-top: 2px;
    font-size: 1.4rem;
    color: #777;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.board_list > .item {
    border : 2px solid #d8d8d8;
    border-radius: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.board_list > .item:first-child {
    margin-top: 0;
}

.board_list > .item .top_wrap {
    position: relative;
    padding: 5px 25px;
}

.board_list > .item .top_wrap .image,
.board_list > .item .top_wrap .name {
    display: inline-block;
    vertical-align: middle;
}

.board_list > .item .top_wrap .image {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    text-indent: -100px;
    overflow: hidden;
}

.board_list .top_wrap .id_Wrap {
	position: absolute;
	top: 13px;
	left: 80px;
	line-height: 18px;
}

.board_list > .item .top_wrap .id_Wrap > a {
	display: block;
}

.board_list > .item .top_wrap .name_wrap {
	position: absolute;
	top: 13px;
	left: 80px;
	display: block;
	line-height: 18px;
}

.board_list > .item .top_wrap .name {
    margin-left: 8px;
    font-size: 1.6rem;
    font-weight: 800;
}

.board_list > .item .top_wrap .position {
    margin-left: 8px;
    font-size: 1.2rem;
    font-weight: 600;
}

.board_list > .item .top_wrap .time {
    position: absolute;
    top: 18px;
    right: 35px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #bbb;
}

.board_list > .item .top_wrap #feed_more {
    display: none;
}

.board_list >.item .top_wrap #feed_more + label {
    position: absolute;
    display: block;
    top: 18px;
    right: 0;    
    width: 24px;
    height: 41px;
    background: url(/img/comm/dot.png) no-repeat 0 0;
    font-size: 0;
    color: rgba(0, 0, 0, 0);
}


/*control_wrap*/
.control_wrap {
    position: relative;
    border-top: 4px solid #577dc0;
    padding: 10px 15px;
    background: #edeeee;
}

.control_wrap input[type="button"] {
    min-height: 21px;
    padding-top: 3px;
    padding-left: 28px;
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
}

.control_wrap .bt_scrap {
    background:url(/img/comm/scrap.png) no-repeat 0 0;
}

.control_wrap  .bt_share {
    background: url(/img/comm/share.png) no-repeat 0 0;
    margin-left: 8px;
}

.control_wrap select {
    position: absolute;
    top: 9px;
    right: 15px;
    border: none;
    border-radius: 5px;
    padding: 2px 2px;
    font-size: 1.3rem;
    cursor: pointer;
}

/*feed_img_slider*/
.feed_img_slider .item {
    border: none;
    width: 100%;
    height: 300px;
    text-indent: -100px;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.feed_img_slider .bx-wrapper .bx-pager.bx-default-pager a {
    width: 7px;
    height: 7px;
    margin: 0 3px;
    transition: 0.5s;
}

.feed_img_slider .bx-wrapper .bx-pager.bx-default-pager a.active {
    width: 20px;
}


/*text_wrap*/
.text_wrap {
    padding: 15px 20px;
    background: #fff;
}

.text_wrap .text {
    line-height: 160%;
}

.text_wrap .text p {
    font-size: 1.6rem;
    padding: 5px 5px;
    line-height: 25px;
}

.text_wrap .text a {
    color: #999;
    font-size: 1.4rem; 
}

.text_wrap .comment {
    text-align: right;
    font-size: 0;

}

.text_wrap .comment,
.text_wrap .more {
    padding: 0 5px;
    font-weight: 600;
}

.text_wrap .comment a {
    font-size: 1.4rem;
}

/*.comment_view .button {
    background: url(/img/comm/cross.png) no-repeat 0 0 /10px;
}*/

/*board_list detail*/

.detail {
    margin-bottom: 20px;
}

.detail .back {
    padding: 15px 15px;
}

.detail .back a {
    background: url(/img/comm/back.png) no-repeat 0 0 /13px;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 25px;
}

.detail >.item {
    border-bottom: 2px solid #f1f1f1;
    box-sizing: border-box;
    overflow: hidden;

}

.detail > .item .top_wrap {
    position: relative;
    padding: 5px 25px;
}
.detail > .item .top_wrap .image {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    text-indent: -100px;
    overflow: hidden;
}

.detail > .item .top_wrap .id_detail_Wrap {
	position: absolute;
	top: 13px;
	left: 80px;
    line-height: 18px;
}

.detail > .item .top_wrap .id_detail_Wrap > a {
	display: block;
}

.detail > .item .top_wrap .name_wrap {
	position: absolute;
	top: 13px;
	left: 80px;
	display: block;
	line-height: 18px;
}


.detail > .item .top_wrap .name {
    margin-left: 8px;
    font-size: 1.6rem;
    font-weight: 600;
}

.detail > .item .top_wrap .position {
    margin-left: 8px;
    font-size: 1.2rem;
    font-weight: 600;
}

.detail > .item .top_wrap .time {
    position: absolute;
    top: 18px;
    right: 40px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #bbb;
}

.detail > .item .top_wrap #feed_more + label {
    position: absolute;
    display: block;
    top: 20px;
    right: 0;    
    width: 24px;
    height: 41px;
    background: url(/img/comm/dot.png) no-repeat 0 0;
    font-size: 0;
    color: rgba(0, 0, 0, 0);
}

.detail > .item .top_wrap #feed_more {
    display: none;
}


.detail .text_wrap {
    padding: 5px 15px 5px 15px;
    background: #f1f1f1;
    box-sizing: border-box;
    overflow: hidden;
}
.detail .text_wrap .text p {
    font-size: 1.4rem;
    padding: 10px;
    line-height: 25px;
    letter-spacing: -1px;
}

.detail .comment_view {
    box-sizing: border-box;
    overflow: hidden;
    padding: 15px 25px;
    border-top: 1px solid #fff;
}

.replywrite {
    padding-top: 1px;
}

.replywrite .comment  {
    position: relative;
    display: inline-block;
    width: calc(100% - 65px);
    margin-top: 15px;
    border-radius: 10px;
    vertical-align: middle;
    background: #fff;
}

.replywrite .comment textarea {
    width: calc(100% - 5px);
    height: 50px;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 0;
    border-radius: 100px;
    background: #fff;
    font-size: 1.2rem;
    resize: none;
}

.replywrite .replywrite .comment input[type="button"] {
    position: absolute;
    top: 5px;
    right: 6px;
    padding: 3px 10px;
    border: 0;
    border-radius: 30px;
    background: #3677b7;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
}


/*comment_view*/

.comment_view {
    padding: 15px 25px;
    background: #f1f1f1;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    overflow: hidden;
}

.comment_view a {
    display: inline-block;
}

.comment_view  dt .profile_image {
    background: url(/img/temp/1.jpg) no-repeat 50% 50% /cover;
    border-radius: 100px;
    width: 18px;
    height: 18px;
    text-indent: -100px;
    overflow: hidden;
    text-align: middle;
}
.comment_view dl {
    position: relative;
    font-size: 0;
    margin-top: 5px;
    padding-right: 28px;
}

.comment_view dl:first-child {
    margin-top: 0;
}

.comment_view dd,
.comment_view dt {
    display: inline-block;
    font-size: 1.2rem;    
    vertical-align: top;
}

.comment_view dt {
    font-weight: 600;
    width: 120px;
}

.comment_view dd {
    width: calc(100% - 120px);
}

.comment_view dl input[type="button"] {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    color: rgba(0,0,0,0);
    background: url(/img/comm/cross.png) no-repeat 50% 50% /6px;
}



/*detail_img_list */

.detail_img_list {
    padding: 0 15px;
}

.detail_img_list .item {
    position: relative;
    margin-top: 20px;
}

.detail_img_list .item:first-child {
    margin-top: 0;
}

.detail_img_list .item .image {
    position: relative;
    display: block;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    text-indent: -100px;
    overflow: hidden;
}

.detail_img_list .item .image::after {
    content: "";
    bottom: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background:  url(/img/comm/fullscreen.png) no-repeat 0 0 /15px;
}

.detail_img_list .item .text_detail{
    position: relative;
}

.detail_img_list .item .text_detail a{
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    padding: 10px 15px;
    font-size: 1.2rem;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: rgba(0,0,0,0.5);
}

/*comment_list_wrap*/

.last_page {
    padding: 40px 20px 0 20px;
}

.last_page a {
    background:url(/img/comm/back.png) no-repeat 0 0 /17px;
    font-size: 2rem;
    font-weight: 600;
    padding-left: 30px;
    text-align: middle;
}

.comment_list {
    padding: 40px 20px 130px 20px;
    

}
.comment_list .item {
    padding-left: 60px;
    margin-top: 40px;
} 

.comment_list .item:first-child {
    margin-top: 0;
}

.comment_list .item .cont {
    position: relative;
    padding: 20px 30px;
    border-radius: 20px;
}

.comment_list .item .cont::before {
    content:"";
    position: absolute;
    display: block;
    top: 20px;
    left: -30px; 
    width: 5px;
    height:10px;
    border-top: 30px solid #eee;
    border-left: 30px solid transparent;
}

.comment_list_wrap .comment_list .item .cont {
    background: #eee;
    margin-bottom: 7px;
}

.comment_list_wrap .comment_list .item.doctor .cont {
    background: #c5ecf1;
}

.comment_list_wrap .comment_list .item.doctor .cont::before {
    border-top: 30px solid #c5ecf1;
}

.comment_list_wrap .comment_list .item.nurse .cont {
    background: #daf3c3;
}

.comment_list_wrap .comment_list .item.nurse .cont::before {
    border-top: 30px solid #daf3c3;
}

.comment_list .item .cont .cont_Wrap {
    width: 5px;
    height: 5px;
    border-radius: 100px;
    color: rgba(0,0,0,0);
    background: url(/img/temp/1.jpg) no-repeat 50% 50% /40px;
}

.comment_list .item a {
    font-size: 1.8rem;
    font-weight: 600;
}

.comment_list .item p {
    font-size: 1.6rem;
    margin: 10px 0;
}

.comment_list input[type="checkbox"] {
    display: none;
}

.patient_dot + label {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 8px;
    height: 30px;
    background:  url(/img/comm/dot.png) no-repeat 0;
    text-indent: -100px;
    overflow: hidden;
    cursor: pointer;
}

.comment_list span {
    font-size: 1.5rem;
    font-weight: 600;
    color: #777;
    margin-left: 30px;
}

.comment_write {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 15px;
    box-sizing: border-box;
    background: #eee;
    box-shadow: 0 0 5px #999;
    font-size: 0;
}

.comment_list .item.doctor .cont .images {
    font-size: 0;
}

.comment_list .item.doctor .cont .images a {
    display:inline-block;
    width: 30%;
    margin: 10px 0 0 5%;
    vertical-align: top;
}

.comment_list .item.doctor .cont .images a:nth-child(-n+3) {
    margin-top: 0;
} 

.comment_list .item.doctor .cont .images a:nth-child(3n-2) {
    margin-left: 0;
}

.comment_list .item.doctor .cont .images a img {
    width: 100%;
    cursor: pointer;
}

.comment_list .item.doctor a {
    color: #30838e;
}

.comment_list .item.nurse a {
    color: #4f9a08;
}

.comment_write #img_select {
    display: none;
}

.comment_write #img_select + label {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
    background: #577dc0 url(/img/comm/camera.png) no-repeat 50% 50% /25px;
    border-radius: 100px;
    text-indent: -100px;
    overflow: hidden;
}

.comment_write .comment_reply  {
    display: inline-block;
    width: calc(100% - 100px);
    border-radius: 10px;
    vertical-align: middle;
    background: #fff;
}

.comment_write .comment_reply textarea {
    width: 80%;
    height: 30px;
    box-sizing: border-box;
    border: 0;
    border-radius: 10px;
    background: #fff;
    padding: 5px 12px;
    font-size: 1.2rem;
    resize: none;
}

.comment_write input[type="button"] {
    position: absolute;
    top: 28px;
    right: 0;
    padding: 3px 10px;
    border: 0;
    border-radius: 8px;
    background: #5c8cc2;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
}

.replywrite {
    position: relative;
}

.replywrite input[type="button"] {
    position: absolute;
    top: 28px;
    right: 0;
    padding: 3px 10px;
    border: 0;
    border-radius: 8px;
    background: #5c8cc2;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
}
